/*
-1 Positioning --> position , display etc..
-2 Box-Model --> Margin,padding ,heigh,width
-3 font style --> weight, style, size ,family etc...
-4 visuals ---> background , color , shadow , borders 
-5 others --> css rules and more ..
*/

:root{
    /* Colors */
    --gradient-bck : linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --orange : #F7931A;
    --orange-soft :  #FFE9D5;
    --blue: #1A9AF7;
    --blue-soft : #E7F5FF;
    --black-main : #201E1C;
    --black-secondary: #282623;
    --gray-strong: #757575;
    --gray : #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    /*Fonts */
    --DM-SANS : 'DM Sans', sans-serif;
    --Inter: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: var(--DM-SANS);
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    background: var(--gradient-bck);
}
 img {
    height: 24px;
    min-width:151px;
}
.header-info_container{
    text-align: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
}
.header-info_container h1 {
    margin-top: 30px;
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
}
.header-info_container p {
    margin-top: 35px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: var(--orange-soft);
}
.header--button{
    position: absolute;
    top: calc(100% - 30px);
    left: calc(50% - 35%);
    width: 70%;
    padding: 20px 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black-main);
    background-color: var(--off-white);
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(20, 20, 20, 0.233);
}
.header--button .icon--button{
    display: inline-block;
    margin-left: 20px ;
    width: 10px;
    height: 10px;
    background-image: url('../svg/icons/down-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

main{
    width: 100%;
    padding-top:60px;
    background-color: var(--off-white);
}
.exchange-image{
    margin: 0 auto 30px;
    width: 200px;
    height: 200px;
    background: url('../svg/img/Bitcoin.svg') center / cover no-repeat;
}

.exchange-info{
    text-align: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.exchange-info h2{
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--black-main);
}

.exchange-info p {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    line-height:1.7rem;
    color: var(--gray-strong);
}

.currency{
    width: 70%;
    min-width: 235px;
    max-width: 580px;
    margin: 40px auto 0;

}
 .currency h3{
    margin: 0 0 5px 20px;
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--orange);
}
.currency-table{
    width: 90%;
    min-width: 230px;
    max-width: 500px;
    height: 250px;
    margin: 0 auto;
    font-family: var(--Inter);
    border-radius: 15px;
    box-shadow: 0 0 10px -5px var(--gray);
} 
.currency-table table{
    width: 100%;
    height: 100%;
    text-align: center;
}

.currency-table table td{
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight:500 ;
    color: var(--gray-strong);
    background-color: var(--white);
}
.currency-table .currency_top-left{
    border-radius: 15px 0 0 0 ;
}
.currency-table .currency_top-right{
    border-radius: 0 15px 0 0 ;
}
.currency-table .currency_bottom-right{
    border-radius: 0 0 15px 0 ;
}
.currency-table .currency_bottom-left{
    border-radius: 0 0 0 15px ;
}
.currency-table td .down,
.currency-table td .up{
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    width: 15px;
    height: 15px;
    background: url('../svg/icons/trending-down.svg') center /cover no-repeat;    
}
.currency-table td .up{
    background: url('../svg/icons/trending-up.svg') center/ cover no-repeat;
}
.currency-update{
    text-align: center;
    width: 85%;
    height: 30px;
    padding: 8px;
    margin: 10px auto 0;
    border-radius: 7px;
    background-color: var(--orange-soft);
}
.currency-update p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--black-main);
}