/*
-1 Positioning --> position , display etc..
-2 Box-Model --> Margin,padding ,heigh,width
-3 font style --> weight, style, size ,family etc...
-4 visuals ---> background , color , shadow , borders 
-5 others --> css rules and more ..
*/

:root{
    /* Colors */
    --gradient-bck : linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --orange : #F7931A;
    --orange-soft :  #FFE9D5;
    --blue: #1A9AF7;
    --blue-soft : #E7F5FF;
    --black-main : #201E1C;
    --black-secondary: #282623;
    --gray : #BABABA;
    --off-white: #FAF8F7;
    --white: #FFFFFF;
    /*Fonts */
    --DM-SANS : 'DM Sans', sans-serif;
    --Inter: 'Inter', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: var(--DM-SANS);
}